@font-face {
	font-family: 'BM JUA';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/BM-JUA.eot');
	src: url('../fonts/BM-JUA.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BM-JUA.woff') format('woff'),
		url('../fonts/BM-JUA.svg#BM-JUA') format('svg'),
		url('../fonts/BM-JUA.ttf') format('truetype');
}
@font-face {
	font-family: 'BM HANNA';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/BM-HANNA.eot');
	src: url('../fonts/BM-HANNA.eot?#iefix') format('embedded-opentype'),
	        url('../fonts/BM-HANNA.woff') format('woff'),
	        url('../fonts/BM-HANNA.svg#BM-HANNA') format('svg'),
	        url('../fonts/BM-HANNA.ttf') format('truetype');
}
