<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">클로저 브릿지란</br>커뮤니티의 다양성을 위해 활동하는 글로벌 커뮤니티입니다.</h2>
              <hr class="light">
              <p class="text-faded">특히 클로저가 처음이신 분 & 그리고 여성들의 참여를 환영합니다.</p>
              <p class="text-faded">같이 공부하고 싶으신 분, 함께 커뮤니티를 만들고 싶으신 분들도 환영합니다.</p>
              <p class="text-faded">이번 워크샵은 아시아 최초 클로저 브릿지 워크샵 입니다~!</p>
              <p class="text-faded">2017년 3월 17일~18일에 개최합니다.</p>
              <a href="#services" class="btn btn-default btn-xl">참여방법</a>
          </div>
        </div>
    </div>
</section>
